*.iml
.idea

target
kensa.log
kensa*.log

todo.txt
messages.txt
deploy.sh
*.pyc
message-model.json
*.versionsBackup

.vs

versionupdater/bin
versionupdater/obj
versionupdater/Properties
versionupdater/publish
versionupdater.exe
versionupdater.pdb

currentVersions.json